<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="text-align:center">
<h2>Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="Username" placeholder="Enter your Username"><br>
    <input type="text" name="First_name" placeholder="Enter your Firstname"><br>
    <input type="text" name="Last_name" placeholder="Enter your Lastname"><br>
    <input type="email" name="Email" placeholder="Enter your email"><br>
    <input type="password" name="Password" placeholder="Enter Password"><br>
    <input type="password" name="Confirm password" placeholder="Confirm Password"><br><br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>