<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1 style="color:red;text-align:center;">Django was created in the fall of 2003,
    the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty
    and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss
    was hired early in Django's development shortly before Simon Willison's internship
    ended.[16] It was released publicly under a BSD license in July 2005. The framework
    was named after guitarist Django Reinhardt.[17] Adrian
    Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.[citation needed]</h1>
</body>
</html>